################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/mso3/.vs/mso3/FileContentIndex/*
/mso3/obj/**/*